.home-intro, .fabric, .popular-jackets{
    display: flex;
    justify-content: center;
}

.home-intro, .fabric, .popular-jackets, .popular-jacket {
    align-items: center;
}

.home-info {
    max-width: 40%;
    line-height: 25px;
}

.home_img {
    width: 100%;
    height: auto;
}

.home-info p, .home-info h1, .home-info a {
    margin: 30px;
}

.fabric {
    gap: 30px;
    padding: 100px 0px;
}

.fabric-info {
    max-width: 50%;
}

.fabric-info, .popular-jacket{
    flex: 1; 
}

.fabric-info, .popular-jackets h2, .all-jackets h2 {
    text-align: center;
}

.popular-jackets {
    flex-wrap: wrap;
    padding-bottom: 100px;
    gap: 10px;
}

.popular-jackets h2, .all-jackets h2 {
    flex: 100%;
    color: white;
    background-color: black;
    padding: 10px; 
}

.popular-jacket {
    margin: 0px 10px;
}

.popular-jackets-text {
    max-width: 95%;
    height: 60px;
    line-height: 25px;
}

.popular-jacket-img {
    width: 100%;
    height: auto;
}

.popular-jacket-img {
    object-fit: cover;
    transition: transform 200ms ease-out;
}

.popular-jacket-img:hover {
    transform: scale(1.05);
}

.item-list {
    color: red;
}

/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px){

    .home-intro {
        gap: 10px;
    }

    .home-info {
        max-width: 100%;
    }

    .home-info p, .home-info h1, .home-info a {
        margin: 10px;
    }

    .fabric {
        background-color: #757579;
        color: white;
        padding: 30px 20px;
        margin: 40px 0px;
    }

    .home-intro, .fabric {
        flex-wrap: wrap;
    }

    .home-info, .fabric-info {
        margin: 0px 20px;
    }

    .home-info p,.fabric-info  {
        max-width: 100%;
    }

    .fabric-icon-mobile {
        width: 50px;
    }

    .fabric-icon-desktop {
        display: none;
    }

    .fabric-info, .popular-jacket{
        flex: 100%;
    }

    .fabric-info {
        text-align: left;
    }

    .popular-jacket {
        margin: 0px;
    }

    .popular-jackets-text {
        height: auto;
        line-height: 20px;
        margin: 0px 20px;
    }

}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px) {
    .home-intro {
        gap: 10px;
    }

    .home-info {
        max-width: 100%;
    }

    .home-info p, .home-info h1, .home-info a {
        margin: 10px;
    }

    .fabric {
        background-color: #757579;
        color: white;
        padding: 30px 20px;
        margin: 40px 0px;
    }

    .home-intro, .fabric {
        flex-wrap: wrap;
    }

    .home-info, .fabric-info {
        margin: 0px 20px;
    }

    .fabric-info {
        max-width: 100%;
    }

    .fabric-icon-mobile {
        width: 60px;
    }

    .fabric-icon-desktop {
        display: none;
    }

    .fabric-info {
        flex: 100%;
        text-align: left;
    }

    .popular-jacket {
        margin: 0px;
    }

    .popular-jackets-text {
        height: 100px;
        line-height: 20px;
        margin: 0px 20px;
    }

}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 20000px){

    .fabric-icon-desktop {
        width: 70px;
    }

    .fabric-icon-mobile {
        display: none;
    }
    
}