.jackets-intro {
    position: relative;
    z-index: 1;
}

.mens_jackets_img,.jacket_img {
    width: 100%;
    height: auto;
} 

.mens_jackets_img {
    display: block;
}

.h1-absolute-white, .h1-absolute-black {
    position: absolute;
    top: 10px;
    left: 90px;
}

.jackets {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    padding: 30px 0px 100px 0px;
}

.jacket {
    margin: 0px 20px;
    padding-bottom: 20px;
}

.h1-absolute-white {
    color: white;
}

.h1-absolute-black {
    color: black;
}

.jacket_img {
    object-fit: cover;
	transition: transform 300ms ease-in;
}

.jacket_img:hover {
    transform: scale(1.05);
}


/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px){
    #jackets-text-desktop{
    display: none;
    }

    .jackets {
        grid-template-columns: 1fr;
        margin: 0px;
        padding: 30px 0px 50px 0px;
    }

    .jacket {
        margin: 0px;
    }

    .h1-absolute-white, .h1-absolute-black {
        left: 10px;
        top: 15px;
        margin: 0px;
    }

    #jackets-text-mobile {
        margin-left: 10px;
    }

}

@media screen and (min-width: 601px) and (max-width: 900px){
    #jackets-text-mobile {
        display: none;
    }

    .h1-absolute-white, .h1-absolute-black {
        left: 50px;
    }

    .jackets {
        grid-template-columns: repeat(2,1fr);
        margin: auto;
        padding: 30px 0px 50px 0px;
    }

    .jacket {
        margin: 0px 10px;
    }

    

}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 20000px){
    #jackets-text-mobile {
        display: none;
    }
}