#mens-jackets-h1 {
  position: absolute;
  left: 70px;
  top: 25%;
}

.mens-jackets-intro {
  margin: auto;
}

.mens-jackets-main-img {
  width: 100%;
  height: auto;
}

.mens-jacket-img {
  height: 300px;
  width: auto;
}

.mens-wrapper {
  display: grid;
  gap: 20px 30px;
  margin: 30px;
  padding: 100px 0px 100px 0px;
}

.mens-title {
  font-weight: bold;
  font-size: 20px;
}

.mens-product, .mens-wrapper {
  align-items: center;
}


.mens-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mens-product:hover {
  transform: scale(1.05);
  transition: transform 200ms ease-out;
}

/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px){
  .mens-wrapper {
    grid-template-columns: 1fr;
    padding: 40px 10px 100px 10px;
  }

  #mens-jackets-h1 {
    left: 30px;
    top: 20%;
  }

}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px) {
  .mens-wrapper {
    grid-template-columns: repeat(2,1fr);
  }

  #mens-jackets-h1 {
    left: 50px;
    top: 25%;
  }

}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 20000px){
  .mens-wrapper {
    grid-template-columns: repeat(3,1fr);
  }

  #mens-jackets-h1 {
    left: 70px;
    top: 25%;
  }

}