@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0%;
}

h1, h2 {
    font-family: "lato";
}

h1 {
    color: #0A3641;
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

p, .terms-content li, .privacy-content li, footer a{
    font-size: 15px;
}

.button, .nav-desktop li, .nav-mobile li {
    font-size: 16px;
}

.nav-desktop a:hover, .active-page {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
}

#cart-icon{
    object-fit: cover;
    transition: transform 300ms ease-out;
}

#cart-icon:hover {
    transform: scale(1.15);
}

h3, p, .button, .terms-content li, .privacy-content li {
    font-family: "public Sans";
}

nav a, footer, label, input {
    font-family: "cambay";
}

.logo {
    align-self: center;
}

.logo-header, .logo-footer {
    width: 100px;
}

.header, footer, .button {
    background-color: black;
}

.header, footer, .logo {
    display: flex;
    align-items: center;
}

.logo, .header {
    justify-content: center;
}

.logo {
    padding: 5px 0px;
}

.header {
    justify-content: space-between;
}

.nav-desktop li {
    padding-inline: 20px;
}

.nav-desktop ul {
    padding-inline-start: 0px;
}

.nav-desktop li, .button{
    display: inline-block;
}

.cart {
    margin-right: 50px;
}

nav a:visited, nav a, nav a:active, footer a:active, footer a:visited, footer a, a {
    text-decoration: none;
}

.hamburger-icon, .fa-solid, nav a:visited, nav a, nav a:active, footer a:active, footer a:visited, footer a, .button {
    color: white;
}


#menu-checkbox {
    display: none;
}

.hamburger-menu:has(#menu-checkbox:checked) ~ .nav-mobile, .footer-social{
    display: block;
}

.nav-mobile ul{
    list-style: none;
    line-height: 50px;
    position: absolute;
    left: 0px;
    width: 60%;
    padding: 10px;
    background-color: black;
}

.nav-mobile {
    top: 30px;
    z-index: 2;
}

.nav-mobile a {
    margin-left: 40px;
}

.hamburger-icon {
    margin-left: 50px;
}

.hamburger-menu {
    margin-top: 5px;
}

#cart-icon {
    font-size: 20px;
}

.hamburger-icon{
    font-size: 22px;
}

footer {
    justify-content: space-around;
    gap: 200px;
    padding: 20px 0px;
}

footer a {
    display: block;
}

.p-bold, .price-bold {
    font-weight: bold;
}

.button {
    padding: 5px 60px;
    border-radius: 10px;
    border: none;
    object-fit: cover;
    transition: transform 200ms ease-in;
}

.button:hover {
    transform: scale(1.09);
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #757579;
    border-top: 6px solid #FFFFFF;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
    position: fixed;
    left: 50%;
    right: 50%;
    top: 50%;
}

#loading.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px) {
    .nav-desktop, .nav-mobile, .h1-desktop {
        display: none;
    }

    .header {
        height: 30px;
        padding: 10px 0px;
    }

    footer {
        gap: 0px;
    }

    h1 {
        font-size: 20px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    h3 {
        font-size: 16px;
    }
    
    p, .terms-content li, .privacy-content li, footer a{
        font-size: 14px;
    }
    
    .button {
        font-size: 15px;
    }

}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px) {
    .nav-desktop, .nav-mobile, .h1-desktop {
        display: none;
    }

    .header {
        padding: 10px 0px;
    }

    h1 {
        font-size: 22px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    p, .terms-content li, .privacy-content li, footer a{
        font-size: 14px;
    }
    
    .button {
        font-size: 15px;
    }

}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 20000px){
    .nav-mobile, .hamburger-icon, .h1-mobile {
        display: none;
    }

    footer {
        gap: 200px;
    }

}