.empty-cart-text {
    padding-bottom: 300px;
}

#checkout-message {
    display: flex;
    gap: 40px;
}

.checkout-image{
    flex: 1;
}

.checkout_img {
    width: 100%;
    height: auto;
}

.confirmation-wrapper{
    flex: 1;
    line-height: 25px;
    margin: auto;
}

.confirmation-wrapper p {
    max-width: 80%;
}

/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px){
    #checkout-message {
        flex-wrap: wrap-reverse;
        gap: 10px;
    }

    .confirmation-wrapper{
        line-height: 25px;
        margin: 20px;
        flex: 100%;
    }

    .confirmation-wrapper p {
        max-width: 100%;
    }
}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px){
    #checkout-message {
        flex-wrap: wrap-reverse;
        gap: 20px;
    }

    .confirmation-wrapper{
        line-height: 25px;
        margin: 20px;
        flex: 100%;
    }

    .confirmation-wrapper p {
        max-width: 100%;
    }
}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px) {

}

